<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Testify Test Suite">
    <test name="Task 17">
        <classes>
            <class name="Project17.Task17"/>
            <class name="Task17b"/>
            <class name="Task17c"/>
            <class name="Task17d"/>



        </classes>
    </test>
</suite>
